@use "utils/colors";

body {
    margin: 0 auto;
    background-color: colors.$background-color;
    color: colors.$primary-color;
    font-family: Poppins;
}

main {
    width: 70%;
    margin: auto;
}

p {
    font-size: 24px;
    line-height: 36px;
}

.section-title {
    font-size: 32px;
    font-weight: 400;
    margin: 12px 0px;
}

h2 {
    font-size: 36px;
}

a {
    color: colors.$primary-color;
}

.secondary-color {
    color: colors.$secondary-color
}
