<footer>
  <img class="logo-left" src="images/icons/dnlogo.webp">
  <div class="copyright">&copy 2024, Duly Noted. All Rights Reserved.</div>
  <div class="socials">
    <a href="{{ .Site.Params.facebook }}"><img class="social" src="images/icons/facebook.webp"></a>
    <a href="{{ .Site.Params.instagram }}"><img class="social" src="images/icons/instagram.webp"></a>
    <a href="{{ .Site.Params.tiktok }}"><img class="social" src="images/icons/tiktok.webp"></a>
    <a href="{{ .Site.Params.email }}"><img class="social" src="images/icons/email.webp"></a>
  </div>
</footer>

<script src="js/main.js"></script>
