@use "utils/colors";

footer {
    background-color: colors.$primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-left {
    width: 10%;
    padding-left: 4%;
    margin-right: 10%;
    text-align: center;
}

.copyright {
    color: colors.$background-color;
    text-align: center;
    padding: 4% 17%;
}

.socials {
    text-align: right;
    padding-right: 4%;

    .social {
        width: 10%;
    }
}


