@use "utils/variables";
@use "utils/mixins";
@use "components/carousel";
@use "components/redirect";

.group-name {
    display: block;
    font-family: Caveat;
    font-size: 100px;
    color: variables.$secondary-color;
    margin: 13px 0px;
}

.music-container {
    display: inline-block;
    margin: 15px;
}

.music-card {
    @include mixins.transition;
    transition-property: background-color, color;

    width: 500px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$music-carousel-background;
    color: variables.$primary-color;
    text-decoration: none;

    &:hover {
        background-color: variables.$primary-color;
        color: variables.$background-color;
    }

    img {
        @include mixins.no-drag;
        width: 500px;
        height: 300px;
        border-radius: 20px;
        overflow: hidden;
    }

    p {
        align-self: first baseline;
        margin: 15px 0px 10px 10px;
        font-size: 20px;
    }
}
